
.why_choose_us {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  
  padding: 0px 20px;
  flex-wrap: wrap; 
  background-color: #f9f9f9;
}


.choose img {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}


.choose_pro {
  max-width: 600px;
}

.choose_pro h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.choose_pro h3 {
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #444;
}

.choose_pro p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}


@media (max-width: 768px) {
  .why_choose_us {
    flex-direction: column; 
    text-align: center;
  }

  .choose img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .choose_pro {
    max-width: 100%;
  }
}
